/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Mobile First Layout */

body {
  font-size: 100%;
  line-height: 1.5;
  min-width: 320px;
  text-align: center;
}

#page {
  text-align: left;
  width: 94%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Tabs */

.tabs {
  margin-bottom: 1em;
}

.tabs a {
  display: inline-block;
  margin-right: 1em;
  padding: 0 1em;
  font-size: 0.6875em;
  line-height: 2em;
}

/* 480px */

@media only screen and (min-width: 480px) {

#page {
  width: 960px;
  margin: 0 auto;
}

}
@media only screen and (min-width: 700px) {

}
@media only screen and (min-width: 960px) {

}
@media print {
* {
background : transparent !important;
color : black !important;
text-shadow : none !important;
filter : none !important;
-ms-filter : none !important; }

a, a:visited {
color : #444 !important;
text-decoration : underline; }

a[href]:after {
content : " (" attr(href) ")"; }

abbr[title]:after {
content : " (" attr(title) ")"; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
content : ""; }

pre, blockquote {
border : 1px solid #999;
page-break-inside : avoid; }

thead {
display : table-header-group; }

tr, img {
page-break-inside : avoid; }

@page {
margin : .5cm; }

p, h2, h3 {
orphans : 3;
widows : 3; }

h2, h3 {
page-break-after : avoid; }

/* Drupal Elements */

#sidebar-first,
#sidebar-second,
nav,
#toolbar,
footer,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}


#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}
}
