/* @override 
	http://localhost:8888/drupal7/sites/all/themes/wire5/css/style.css?mg5uvh
	http://localhost:8888/drupal7/sites/all/themes/wire5/css/style.css?mg5xxm */

/*
Title:      Wire5 master screen styles
Author:     Paolo Agostinelli
Email:      p.agostinelli@gmail.com
Web:        www.dodorama.com
Copyright:  2012, Paolo Agostinelli.  All rights reserved (please don't re-use without permission).
*/

/* HTML Elements */

body {
	color: #222222;
}

p {
  margin: 1em 0;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.25em;
}

h4{
  font-size: 1.125em;
}

h5{
  font-size: 1.125em;
}

h6{
  font-size: 1em;
}

em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

hr {
  border: 1px solid gray;
  height: 1px;
}

img {
  border: 0;
}

/* Links */

a,
a:visited {
  color: #2ba6cb;
  text-decoration: none;

}

a:hover {
  color: #2795b6;
}

a:active,
a:focus {
  color: #2795b6;
}

/* Lists */

ul li ul
 {
  margin: 0;
  padding: 0 0 0 0.5em; /* LTR */
}

ol li ol
 {
  margin: 0;
  padding: 0 0 0 0.5em; /* LTR */
}

dd {
  font-size: 0.875em;
}

dt {
  font-weight: bold;
}

ul.inline,
ul.links.inline {
  display: inline;
  padding: 0;
  margin: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

ul li.expanded {
  list-style-type: circle;
}
ul li.collapsed {
  list-style-type: disc;
}
ul li.leaf {
  list-style-type: square;
}

li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}

td.menu-disabled {
  background: #ccc;
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}

/* Item Lists */

.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}

/* Inline Items */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/* Grid Item List*/

ul.grid {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-item-title {
	font-weight: normal;
}

/* Tables */

table {
  width: 100%;
  font-size: 0.75em;
  border-collapse: collapse;
}
tr.odd {
  background-color: #f6f6f6;
}
th,
td {
  padding: 0.5em;
}

/* Tabs */

.tabs a {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background-color: #666;
  color: #fff;
}

.tabs a:hover,
.tabs a.active,
.tabs a:active {
  background-color: #000;
  color: #fff;
}

ul.primary {
}
ul.primary li {
  display: inline;
}
ul.primary li a {
}
ul.primary li.active a {
}
ul.primary li a:hover {
}
ul.secondary {
}
ul.secondary li {
}
ul.secondary a {
}
ul.secondary a.active {
}

/* Breadcrumb */

.breadcrumb {
  padding-bottom: 0.5em;
}

/* Pager */

.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}

/*Page Title*/

#site-name a {
	color: #222222;
	text-decoration: none;
}

#site-name a:hover {
	color: #666;
}

/*Main Navigation*/

nav.page a {
	color: #222222;
	text-decoration: none;
}

nav.page a:hover {
	color: #666;
}

/* More Link */

.more-link {
  text-align: right; /* LTR */
}

/* Form Elements */

form {
  margin: 0;
  padding: 0;
}
.form-item {
  margin: 1em 0;
}

.form-actions {
  margin: 2em 0;
}

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

input.form-text,
textarea.form-textarea {
  margin: 0;
  padding: 6px;
  font: 0.75em/1em "Lucida Grande", Lucida, Verdana, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

textarea.form-textarea {
  line-height: 1.5em;
}

html.js input.form-autocomplete {
  background-repeat: no-repeat;
  background-position: 100% 6px; /* LTR */
}

fieldset {
  margin: 1em 0;
  padding: 1em 10px 1em 10px;
  border-style: solid;
  border-width: 1px;
}
fieldset legend {
  padding: 0 6px;
}

.form-item .description,
.description,
.filter-help a,
.tips,
.fieldset-description {
  color: #999;
  font-size: 0.625em;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.field-prefix {
  font-style: italic;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}
.marker,
.form-required {
  color: #f00;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

label {
  display: block;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}


/* Image replacement */
.ir {
display : block;
text-indent : -999em;
width: 100px;
height: 100px;
overflow : hidden;
background-repeat : no-repeat;
text-align : left;
direction : ltr; }
